In [62]:
from backend import get_ercot_df
import pandas as pd

ercot_df = get_ercot_df()
ercot_df.head()

,Oper Day,Interval Ending,HB_BUSAVG,HB_HOUSTON,HB_HUBAVG,HB_NORTH,HB_PAN,HB_SOUTH,HB_WEST,LZ_AEN,LZ_CPS,LZ_HOUSTON,LZ_LCRA,LZ_NORTH,LZ_RAYBN,LZ_SOUTH,LZ_WEST
0,05/11/2024,0015,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30
1,05/11/2024,0030,61.78,61.78,61.78,61.78,61.78,61.78,61.78,61.78,60.41,61.78,61.78,61.78,61.78,61.78,61.78
2,05/11/2024,0045,25.99,25.99,25.99,25.99,25.99,25.99,25.99,25.99,25.64,25.99,25.99,25.99,25.99,25.99,25.99
3,05/11/2024,0100,58.84,58.84,58.84,58.84,58.84,58.84,58.84,58.84,57.50,58.84,58.84,58.84,58.84,58.84,58.84
4,05/11/2024,0115,30.87,30.87,30.87,30.87,30.87,30.87,30.87,30.87,30.37,30.87,30.87,30.87,30.87,30.87,30.87

In [54]:
wind = pd.read_csv('f1.csv')
wind.drop(columns=['Unnamed: 0'], inplace=True)

wind['LZ_HOUSTON_lagged'] = wind['LZ_HOUSTON'].shift(-1)

wind.head()

,Open Day,HOUR_ENDING,LZ_HOUSTON,ACTUAL_LZ_SOUTH_HOUSTON,LZ_HOUSTON_lagged
0,06/05/2024,1,21.64,NaN,21.45
1,06/05/2024,1,21.45,NaN,20.69
2,06/05/2024,1,20.69,NaN,19.05
3,06/05/2024,1,19.05,NaN,20.44
4,06/05/2024,2,20.44,NaN,21.18

In [63]:
# Clean up the ERCOT data
ercot_df[['month', 'day', 'year']] = ercot_df['Oper Day'].str.split('/', expand=True)
ercot_df.drop(columns=['Oper Day'], inplace=True)
ercot_df = ercot_df.apply(pd.to_numeric, errors='coerce')
ercot_df.rename(columns={'Interval Ending': 'Interval_Ending'}, inplace=True)
ercot_df = ercot_df.iloc[:-1]
ercot_df.head()

,Interval_Ending,HB_BUSAVG,HB_HOUSTON,HB_HUBAVG,HB_NORTH,HB_PAN,HB_SOUTH,HB_WEST,LZ_AEN,LZ_CPS,LZ_HOUSTON,LZ_LCRA,LZ_NORTH,LZ_RAYBN,LZ_SOUTH,LZ_WEST,month,day,year
0,15.0,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,5,11,2024
1,30.0,61.78,61.78,61.78,61.78,61.78,61.78,61.78,61.78,60.41,61.78,61.78,61.78,61.78,61.78,61.78,5,11,2024
2,45.0,25.99,25.99,25.99,25.99,25.99,25.99,25.99,25.99,25.64,25.99,25.99,25.99,25.99,25.99,25.99,5,11,2024
3,100.0,58.84,58.84,58.84,58.84,58.84,58.84,58.84,58.84,57.50,58.84,58.84,58.84,58.84,58.84,58.84,5,11,2024
4,115.0,30.87,30.87,30.87,30.87,30.87,30.87,30.87,30.87,30.37,30.87,30.87,30.87,30.87,30.87,30.87,5,11,2024

In [64]:
ercot_df['AVG_lagged'] = ercot_df['HB_BUSAVG'].shift(-1)
ercot_df.head()

,Interval_Ending,HB_BUSAVG,HB_HOUSTON,HB_HUBAVG,HB_NORTH,HB_PAN,HB_SOUTH,HB_WEST,LZ_AEN,LZ_CPS,LZ_HOUSTON,LZ_LCRA,LZ_NORTH,LZ_RAYBN,LZ_SOUTH,LZ_WEST,month,day,year,AVG_lagged
0,15.0,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,72.30,5,11,2024,61.78
1,30.0,61.78,61.78,61.78,61.78,61.78,61.78,61.78,61.78,60.41,61.78,61.78,61.78,61.78,61.78,61.78,5,11,2024,25.99
2,45.0,25.99,25.99,25.99,25.99,25.99,25.99,25.99,25.99,25.64,25.99,25.99,25.99,25.99,25.99,25.99,5,11,2024,58.84
3,100.0,58.84,58.84,58.84,58.84,58.84,58.84,58.84,58.84,57.50,58.84,58.84,58.84,58.84,58.84,58.84,5,11,2024,30.87
4,115.0,30.87,30.87,30.87,30.87,30.87,30.87,30.87,30.87,30.37,30.87,30.87,30.87,30.87,30.87,30.87,5,11,2024,24.22

In [65]:
from tovowpal import df_to_vw

vw = df_to_vw(ercot_df, label='HB_BUSAVG')
for i in range(3):
    print(vw[i] + '\n')

72.3 | Interval_Ending:15.0 HB_HOUSTON:72.3 HB_HUBAVG:72.3 HB_NORTH:72.3 HB_PAN:72.3 HB_SOUTH:72.3 HB_WEST:72.3 LZ_AEN:72.3 LZ_CPS:72.3 LZ_HOUSTON:72.3 LZ_LCRA:72.3 LZ_NORTH:72.3 LZ_RAYBN:72.3 LZ_SOUTH:72.3 LZ_WEST:72.3 month:5 day:11 year:2024 AVG_lagged:61.78

61.78 | Interval_Ending:30.0 HB_HOUSTON:61.78 HB_HUBAVG:61.78 HB_NORTH:61.78 HB_PAN:61.78 HB_SOUTH:61.78 HB_WEST:61.78 LZ_AEN:61.78 LZ_CPS:60.41 LZ_HOUSTON:61.78 LZ_LCRA:61.78 LZ_NORTH:61.78 LZ_RAYBN:61.78 LZ_SOUTH:61.78 LZ_WEST:61.78 month:5 day:11 year:2024 AVG_lagged:25.99

25.99 | Interval_Ending:45.0 HB_HOUSTON:25.99 HB_HUBAVG:25.99 HB_NORTH:25.99 HB_PAN:25.99 HB_SOUTH:25.99 HB_WEST:25.99 LZ_AEN:25.99 LZ_CPS:25.64 LZ_HOUSTON:25.99 LZ_LCRA:25.99 LZ_NORTH:25.99 LZ_RAYBN:25.99 LZ_SOUTH:25.99 LZ_WEST:25.99 month:5 day:11 year:2024 AVG_lagged:58.84

In [ ]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(vw, test_size=0.2)

18596

# Model

In [16]:
from vowpalwabbit import Workspace

model = Workspace('--loss_function squared')

for row in train:
    model.learn(row)
    
predictions = []

for row in test:
    predictions.append(model.predict(row))
    
model.finish()

In [42]:
from sklearn.metrics import mean_squared_error

mean_squared_error([float(row.split(' ')[0]) for row in test], predictions)


result_df = pd.DataFrame({'actual': [float(row.split(' ')[0]) for row in test], 'predicted': predictions})

result_df['error'] = result_df['actual'] - result_df['predicted']

print(result_df['error'].mean())

result_df.head()

0.6402773333723829

   actual  predicted      error
0   18.37  32.889256 -14.519256
1   25.33  21.798939   3.531061
2   14.24  22.354179  -8.114179
3   19.57  25.015623  -5.445623
4   10.10  30.181410 -20.081410